#content{
	height: 100vh;
	max-width: 700pt;
	background-color: rgba(100, 128, 256, 0.7);
	margin: auto;
	box-sizing: border-box;
	border-color: rgba(256, 256, 256, 0.8);
	border-width: 0pt 10pt;
	border-style: solid;
	padding: 0pt 0pt;
	display: flex;
	flex-direction: column;
}
	#owner{
		width: 100%;
		text-align: center;
		color: gold;
		font-size: 20pt;
		font-weight: bold;
		text-shadow: 0pt 0pt 10pt black;
		padding: 10pt 0pt;
		flex: 0 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
		.FlexSpacer{
			flex: 1 1 auto;
		}
	
		.OwnerPart{
			flex: 0 0 auto;
		}
	
	#options{
		width: 100%;
		flex: 0 0 auto;
	}
		.Option{
			cursor: pointer;
		}
		
		.ActiveOption{}
		
		.OptionText{
			color: white;
			font-size: 16pt;
			font-weight: bold;
			text-shadow: 0pt 0pt 8pt black;
		}
		
		.OptionUnderline{
			background-color: rgb(220, 220, 220);
			width: 100%;
			opacity: 0.0;
		}
		
		.Option:hover > .OptionUnderline{
			opacity: 0.5;
		}
		
		.Option:active > .OptionUnderline{
			opacity: 1.0;
		}
		
		.OptionActive > .OptionUnderline{
			opacity: 1.0;
		}
	
		#JP{
			width: 20%;
			float: left;
			text-align: center;
		}
		
		#US{
			width: 20%;
			float: left;
			text-align: center;
		}
		
		#SORT_BY{
			width: 50%;
			float: left;
			text-align: center;
		}
		
		#STATS{
			width: 10%;
			float: left;
			text-align: center;
		}
		
	.Separator{
		background-color: rgb(50, 50, 50);
		width: 100%;
		flex: 0 0 auto;
	}
	
	#CONTENT_SPACE{
		width: 100%;
		overflow: hidden;
		flex: 1 0 auto;
	}
	
		.MacroWrapper{
			width: 100%;
		}
		
		.TableWrapper{
			
		}
	
		.Table{
			border-spacing: 0;
		}
		
		.HeaderSearchImg{
			width: 16pt;
			margin: 3pt 0pt 0pt 0pt;
			padding: 0pt;
		}
	
		.HeaderRow{
			background-color: rgba(256, 256, 256, 0.2);
		}
		
		.HeaderCell{
			font-size: 15pt;
			white-space: nowrap;
			padding: 0pt 5pt;
			border-width: 0pt 1pt;
			border-color: rgba(64, 64, 64, 0.3);
			border-style: solid;
			cursor: pointer;
		}
		
		.DataRowOdd{
			
		}
		
		.DataRowEven{
			background-color: rgba(0, 0, 0, 0.1);
		}
		
		.DataCell{
			text-align: center;
			color: black;
			font-weight: bold;
			font-size: 12pt;
			white-space: nowrap;
			padding: 0pt 5pt;
			border-width: 0pt 1pt;
			border-color: rgba(64, 64, 64, 0.3);
			border-style: solid;
		}
		
		.Table .DataCell + .DataCell {
			
		}

*{
	padding: 0;
	margin: 0;
	font-family: "Verdana";
	user-select: none;
	overflow: hidden;
}